html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 40%;
  max-width: 70rem;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo {
  display: flex;
  border: 1px dotted black;
  margin-bottom: 0.2rem;
}

.todo__remove {
  margin-left: auto;
}
