<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ultimate Dashboard 2do list prototype
        link(rel="stylesheet", href="./main.css")
    body
        section
            header
                h1 2do prpototype
                .new-todo
                    input#todo-text.new-todo__input(
                        type="text",
                        placeholder="What do you wanna todo?"
                    )
                    button#add-new-todo.new-todo__button Add new
            hr
            ul#todo-list.todo-list
            hr
            footer
                button All
                button Active
                button Completed
                hr
                button Clear completed

        script(type="module", src="./scripts/dashboard.js")